<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    {% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}
    <img src="{{ abs_url ~ asset('bundles/core/images/louvre_logo.jpeg') }}" style="width: 100%">

    <h1 style="text-align: center; border-bottom: 1px solid black; font-family: Georgia, sans-serif;">Musée du Louvre - Billeterie</h1>

    {# iterate over each existing billet and render it #}
        {% set i = 1 %}
        {% for billet in commande.billets %}
            <div style="border-bottom: 1px solid black; margin-bottom: 20px;">
                <h2>Billet numéro {{ i }}</h2>
                Billet <strong>"{{ commande.typeBillet }}"</strong><br>
                Jour de la visite : <strong>{{ commande.dateVisite|date('d/m/Y') }}</strong><br>
                <strong>{{ billet.tarif }}</strong><br>
                Prix : {{ billet.prix }} €<br><br>

                <strong>{{ billet.nom|capitalize }}</strong><br>
                <strong>{{ billet.prenom|capitalize }}</strong><br>
                Date de naissance : {{ billet.dateNaissance|date('d/m/Y') }}<br>
                Nationalité : {{ billet.pays }}<br><br>

                <strong>Code billet : {{ billet.code }}</strong>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    <h3 style="text-align: center"> Prix total : {{ commande.prixTotal }} €</h3>
</body>
</html>