{% extends "CoreBundle::layout.html.twig" %}


{% block title %}
    Règlement - {{ parent() }}
{% endblock %}

{% block body %}
    <h2 class="text-center">Récapitulatif</h2>
    {# iterate over each existing billet and render it #}
    {% set i = 1 %}
    {% for billet in commande.billets %}
        <h3>Billet numéro {{ i }}</h3>
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    Billet <strong>"{{ commande.typeBillet }}"</strong>
                </div>
                <div class="col-sm-4">
                    <strong>{{ billet.nom|capitalize }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Jour de la visite : <strong>{{ commande.dateVisite|date('d/m/Y') }}</strong>
                </div>
                <div class="col-sm-4">
                    <strong>{{ billet.prenom|capitalize }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <strong>{{ billet.tarif }}</strong>
                </div>
                <div class="col-sm-4">
                    Date de naissance : {{ billet.dateNaissance|date('d/m/Y') }}
                </div>
                <div class="col-sm-4">
                    Nationalité : {{ billet.pays }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Prix : {{ billet.prix }} €
                </div>
            </div>
            <div class="text-center">
                <a href="{{ path('core_infosBillets') }}" class="btn btn-primary btn-xs">Modifier</a>
            </div>
        </div>
        {% set i = i + 1 %}
    {% endfor %}
    <h2 class="text-center">Prix total : {{ commande.prixTotal }} €</h2>

    <form action="{{ path('core_confirm') }}" method="POST" class="text-center">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-amount="{{ commande.prixTotal }}00"
                data-name="Demo Site"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true"
                data-currency="eur">
        </script>
    </form>

{% endblock %}